﻿@model LessonViewModel

<div class="panel panel-primary">
    <div id="div_showErrorMessages"></div>
    <div class="panel-body">
        <!-- hidden fields to hold the period and lesson ids...-->
        @Html.HiddenFor(m => m.PeriodId)
        @Html.HiddenFor(m => m.LessonId)

        <div class="form-group">
            @Html.LabelFor(m => m.AvailableTeachersNames, "Teacher", new {@class = "col-md-2 control-label"})
            @Html.DropDownListFor(m => m.AvailableTeachersNames, @Model.AvailableTeachersNames, new {@class = "form-control", id = "teacherNameSelectList"})
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.AvailableSubjectNames, "Subject", new {@class = "col-md-2 control-label"})
            @Html.DropDownListFor(m => m.AvailableSubjectNames, @Model.AvailableSubjectNames, new {@class = "form-control", id = "subjectNameSelectList"})
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.AvailableLocationNames, "Location", new {@class = "col-md-2 control-label"})
            @Html.DropDownListFor(m => m.AvailableLocationNames, @Model.AvailableLocationNames, new {@class = "form-control", id = "locationNameSelectList"})
        </div>
    </div>

    <div class="panel-footer">
        
        <button id="btnUpdateLesson" class="btn btn-sm btn-primary">
            <i class="glyphicon glyphicon-floppy-disk"></i>&nbsp;Save
        </button>

        <button id="btnCancel" class="btn btn-sm btn-primary">
            <i class="glyphicon glyphicon-remove-circle"></i>&nbsp;Cancel
        </button>
    </div>
</div>

<script type="text/javascript">
    var teacherName = $("#lblTeacherName_" + @Model.LessonId).text();
    if(teacherName != ""){
        $("#teacherNameSelectList option:contains(" + teacherName + ")").attr('selected', true);
    }

    var subjectName= $("#lblSubjectName_" + @Model.LessonId).text();
    if(subjectName != ""){
        $("#subjectNameSelectList option:contains(" + subjectName + ")").attr('selected', true);
    }

    var locationName = $("#lblLocationName_" + @Model.LessonId).text();
    if(locationName != ""){
        $("#locationNameSelectList option:contains(" + locationName + ")").attr('selected', true);
    }
</script>