﻿@model LessonDetailViewModel

@Html.Label(@Model.TeacherName, new { @id = "lblTeacherName_" + @Model.LessonId })
@Html.Label(@Model.SubjectName, new { @id = "lblSubjectName_" + @Model.LessonId })
@Html.Label(@Model.Location, new { @id = "lblLocationName_" + @Model.LessonId })


<a href="#"
   class="btn btn-primary"
   style="float:right;"
   data-edit-lesson-btn="edit"
   data-period-id="@Model.PeriodId"
   data-lesson-id="@Model.LessonId">
   <i class="glyphicon @Model.ClassName"></i>&nbsp;@Model.ButtonText
</a>

