﻿body {
    padding-top: 5px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.lessonDetail {
    width:100px;
    height: 115px;
}
.period {
    width:20px;
    height: 100px;
}

td:hover{
    background-color:lightblue; 
}
td:hover a.btn{
    display:inline;
}
a.btn {
    display:none;
}
.highlightSelectedLesson {
    background-color:lightblue; 
}