﻿@model SchoolWeekViewModel

@{
    ViewBag.Title = "Time Table";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h1 id="h1_heading" class="panel-title"></h1>
    </div>
    <div class="panel-body">
        @Html.LabelFor(m => m.Day, new {@class = "col-md-2 control-label"})
        @Html.EditorFor(m => m.Day)

    </div>
    <div id="div_DaysTimeTable" class="panel-body">
        @Html.Action("TimeTableForTheDay", new {dayName = DateTime.Now.ToString("dddd")})
    </div>

    <!--Edit Lesson Details Dialogue Box-->
    <div id="div_EditLesson" style="display: none;"></div>
</div>
<script src="~/Scripts/TimeTable/TimeTable.js"></script>
