﻿@model IEnumerable<PeriodViewModel>
<table class="table table-condensed table-bordered">
    <thead>
        <tr>
            <td></td>
            <td><h4 class="text-center">Form 1</h4></td>
            <td><h4 class="text-center">Form 2</h4></td>
            <td><h4 class="text-center">Form 3</h4></td>
            <td><h4 class="text-center">Form 4</h4></td>
            <td><h4 class="text-center">Form 5</h4></td>
        </tr>
    </thead>
    <tbody>
        @foreach (PeriodViewModel nextPeriod in @Model)
            {
            <tr id="tr_@nextPeriod.PeriodId">
                <td class="period">@Html.Label("P " + @nextPeriod.PeriodId)</td>
                @foreach (LessonDetailViewModel nextLesson in nextPeriod.Lessons)
                {
                    <td id="@nextLesson.LessonId" class="lessonDetail">
                        <div id="div_LessonDetail_@nextLesson.LessonId">
                            @Html.DisplayFor(m => nextLesson)
                        </div>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
